<style type="text/css">
  body {
    margin: 2rem;
  }
  .example div {
    padding: 1rem;
    text-align: center;
  }
</style>

<h3 class="ecl-heading ecl-heading--h3">Background colors</h3>

<div class="example">
  <div class="ecl-u-bg-blue-120 ecl-u-color-white">ecl-u-bg-blue-120</div>
  <div class="ecl-u-bg-blue-100 ecl-u-color-white">ecl-u-bg-blue-100</div>
  <div class="ecl-u-bg-blue-50 ecl-u-color-white">ecl-u-bg-blue-50</div>
</div>

<div class="example">
  <div class="ecl-u-bg-grey-100 ecl-u-color-white">ecl-u-bg-grey-100</div>
  <div class="ecl-u-bg-grey-75 ecl-u-color-white">ecl-u-bg-grey-75</div>
  <div class="ecl-u-bg-grey-50 ecl-u-color-white">ecl-u-bg-grey-50</div>
  <div class="ecl-u-bg-grey-15">ecl-u-bg-grey-15</div>
  <div class="ecl-u-bg-grey-5">ecl-u-bg-grey-5</div>
</div>

<h3 class="ecl-heading ecl-heading--h3">Text colors</h3>

<div class="example">
  <div class="ecl-u-color-blue-120">ecl-u-color-blue-120</div>
  <div class="ecl-u-color-blue-100">ecl-u-color-blue-100</div>
  <div class="ecl-u-color-blue-50">ecl-u-color-blue-50</div>
</div>

<div class="example">
  <div class="ecl-u-color-grey-100">ecl-u-color-grey-100</div>
  <div class="ecl-u-color-grey-75">ecl-u-color-grey-75</div>
  <div class="ecl-u-color-grey-50">ecl-u-color-grey-50</div>
  <div class="ecl-u-color-grey-15 ecl-u-bg-grey-100">ecl-u-color-grey-15</div>
  <div class="ecl-u-color-grey-5 ecl-u-bg-grey-100">ecl-u-color-grey-5</div>
  <div class="ecl-u-color-white ecl-u-bg-grey-100">ecl-u-color-white</div>
</div>


