/**
 * Colorize utilities
 */

// Import base and generic
@import '@ecl/eiopa-base/eiopa-base';

@each $key, $value in $ecl-colors {
  .ecl-u-color-#{$key} {
    color: $value;
  }
}

@each $key, $value in $ecl-colors {
  .ecl-u-bg-#{$key} {
    background-color: $value;
  }
}

.ecl-u-color-white {
  color: #fff;
}
