/**
 * Typography rules
 * @define typography
 */

// Import base and generic
@import '@ecl/eiopa-base/eiopa-base';

.ecl-typography {
  font-family: $ecl-font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}
